@import 'dashboard/dashboardContent';

.row { 
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.sidebar-nav {
    float: left;
    height: 100%;
    padding: 10px;
    width: 260px;
    background: rgba(31,31,31, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    font-weight: 200;
    background-size: cover;
    background-position: 50%;

    .menu-toggle {
        color: white;
        line-height: 50px;
        font-size: 40px;
        cursor: pointer;
        display: none;
        
        &:hover{
            color: #bbb;
        }
    }

    .logo{    
        padding: 0px 40px;
        height: 90px;
        border-bottom: 1px solid hsla(0,0%,100%,.2);     
                
        img {
            width: 100%;
            margin-left: -3px;
            display: block;
        }        
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 2px;
        margin-top: 20px;
        list-style: none;
        max-width: 93%;

        a {   
            text-decoration: none;         
        }

        &::before{
            display: table;
            content: " ";
        }

        li {
            max-width: 90%;

            a:hover{
                color: #bbb;
            }
        }

        li > a {
            color: #fff;
            margin: 5px 15px;
            opacity: .86;
        }

        p {
            margin-left: 4px;
            line-height: 30px;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        
        strong {
            color: #fff;
            font-size: 12px;
            opacity: .50;
            text-transform: uppercase;
        }
    }

    .sidebar-wrapper {
        position: relative;
        height: calc(100vh - 75px);
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 30px;

        .menu-toggle-close {
            color: white;
            font-size: 25px;
            position: absolute;
            right: 0;
            margin: 15px;
            display: none;
            cursor: pointer;
        }
    }
}

.main-content{        
    background: rgba(203,203,210,.15);
    float: right;
    width: calc(100% - 260px);
    height: 100vh;
}